@import "change";
h1 {
  color: $red_color;
}
h2 {
  color: rgb(12, 228, 48);
}
.homepage {
  padding: 10px;
  width: 100%;
}
.card-handle {
  width: 25%;
  height: 400px;
  float: left;
  padding: 10px 10px;
  margin-left: 20px;
}
